<div class="container">
    <h4>Agregar Cliente</h4>
    <form [formGroup]="clienteFormulario" (ngSubmit)="obtenerValores()">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Nombre" formControlName="nombre">
          <label for="floatingInput">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Apellido" formControlName="apellido">
          <label for="floatingInput">Apellido</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="estatus">
            <option value="1">Afiliado</option>
            <option value="2">Activo</option>
            <option value="3">No afiliado</option>
            <option value="4">En revisión</option>
            <option value="5">Cancelado</option>
            <option value="6">VIP</option>
            <option value="7">Premium</option>
            <option value="8">En mora</option>
            <option value="9">Gratuito</option>
            <option value="10">Vitalicio</option>
            <option value="11">Prueba</option>
          </select>
          <label for="floatingSelect">Estatus</label>
        </div>
      <div>
        <button [disabled]="!clienteFormulario.valid" type="submit" class="btn btn-primary">Aceptar</button>
        <button class="btn btn-secondary" style="margin-left: 8px;" (click)="preventFormSubmit($event)">Volver</button>
      </div>
    </form>
</div>