<div class="container-fluid">
  <section class=" py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="text-center">
            <h1 class="text-light">Oops!</h1>
            <h2 class="d-flex justify-content-center align-items-center">
              <span class="display-1 fw-bold text-info-emphasis">4</span>
              <img ngSrc="/assets/images/cero.png"
              alt="Imágen de un cero roto"
              width="70"
              height="70">
              <span class="display-1 fw-bold text-info-emphasis">4</span>
            </h2>
            <h3 class="h2 mb-2 text-info-emphasis">Not found.</h3>
            <p class="mb-4 text-light">La página a la que intenta acceder no existe!</p>
            <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" routerLink="/home" role="button">Volver al Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
