<div class="container-lg">
  <button type="button" class="btn btn-primary" routerLink="agregar/">Agregar Cliente</button>

  <table class="table table-striped table-hover table-bordered table-sm table-responsive">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of dataSource | NombreFilterPipe: nombreFiltro | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.estatus}}</td>
        <td>
          <a class="icon-link" routerLink="detalle/{{ cliente.id }}">
            <svg class="bi"></svg>Detalle
          </a>
          <a class="icon-link" routerLink="editar/{{ cliente.id }}">
            <svg class="bi"></svg>Editar
          </a>
          <a class="icon-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="setIdCliente(cliente.id!)">
            <svg class="bi"></svg>Eliminar
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Está seguro que desea eliminar este elemento?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarCliente(idCliente)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
