.container {
  min-height: 700px;
}

.table {
  min-width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

a {
  cursor: pointer;
}