/* Estilos opcionales para la tabla */
.table {
  width: 100%;
  min-width: 345px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.btn-primary {
  margin-top: 20px;
}

a {
  cursor: pointer;
}